asgiref==3.11.1
colorama==0.4.6
Django==6.0.5
django-cors-headers==4.9.0
django-ipware==7.0.1
django-structlog==10.0.0
django-stubs==6.0.5
django-stubs-ext==6.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.0
packaging==26.2
PyJWT==2.9.0
python-ipware==3.0.0
rest-framework-simplejwt==0.0.2
sqlparse==0.5.5
structlog==25.5.0
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
tzdata==2026.2
