asgiref==3.11.1
colorama==0.4.6
Django==6.0.5
django-cors-headers==4.7.0
django-ipware==7.0.1
django-structlog==10.0.0
djangorestframework==3.17.1
packaging==26.2
python-ipware==3.0.0
djangorestframework-simplejwt==5.5.0
sqlparse==0.5.5
structlog==25.5.0
tzdata==2026.2
